* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(100% 225% at 100% 0%, #faff00 0%, #000 100%), linear-gradient(235deg, #ff7a00 0%, #000 100%), linear-gradient(20deg, #241e92 0%, #241e92 30%, #5432d3 calc(30% + 1px), #5432d3 35%, #7b6cf6 calc(35% + 1px), #7b6cf6 50%, #e5a5ff calc(50% + 1px), #e5a5ff 100%), linear-gradient(120deg, #110133 0%, #110133 40%, #00918e calc(40% + 1px), #00918e 60%, #4dd599 calc(60% + 1px), #4dd599 70%, #ffdc34 calc(70% + 1px), #ffdc34 100%);
  background-blend-mode: overlay, hard-light, overlay, normal;
  color: #dfdcdc;
  font-family: 'Gochi Hand', cursive;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  padding: 30px;
}

.heading-text {
  font-size: 50px;
  margin-bottom: 50px;
}

.h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: left;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.ash {
  background-color: #e5e5e5;
}

.btn {
  background: transparent;
  font-size: 16px;
  border: 2px solid #dfdcdc;
  border-radius: 4px;
  color: #dfdcdc;
  cursor: pointer;
  transition: background 1s;
  font-family: 'Gochi Hand', cursive;
}

.btn:hover {
  background: green;
}

.shadow {
  box-shadow: 10px 10px 17px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 17px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 17px 2px rgba(0, 0, 0, 0.75);
}

.refresh {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.refresh-btn {
  padding: 10px;
}

.scores-section {
  width: 35%;
}

.scores-list {
  list-style: none;
  border: 2px solid;
  height: 50vh;
  overflow-y: scroll;
  border-radius: 7px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b0b0a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6d0100;
  border-radius: 10px;
}

.score-item {
  padding: 10px;
}

.score-item:hover {
  background-color: #000068;
  cursor: pointer;
}

.score-form-section {
  width: 20%;
}

.score-form-section .h2 {
  color: #294800;
}

.score-form {
  width: 100%;
  text-align: center;
}

.score-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: transparent;
  color: #294800;
  border: none;
  border-bottom: 2px solid #294800;
  outline: none;
  font-size: 16px;
}

.submit-btn {
  padding: 10px;
  width: 100%;
  border: 2px solid #294800;
}

.notification {
  margin-top: 10px;
  color: red;
}

.success {
  color: rgb(24, 243, 24);
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .heading-text {
    text-align: center;
    font-size: 45px;
  }

  .scores-section {
    width: 70%;
  }

  .scores-list {
    height: 70vh;
  }

  .score-input {
    color: #dfdcdc;
    border-bottom: 2px solid #dfdcdc;
  }

  .score-form-section {
    width: 70%;
    margin: 50px 0;
  }

  .score-form-section .h2 {
    color: #fe8400;
  }

  .submit-btn {
    border: 2px solid #dfdcdc;
  }
}
